*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}
